<style>
.need-card{
    background-color: {{bgColor}}; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 2rem;
    width: 23%;
}



@media screen and (max-width: 768px) {
    .need-card{
        width: 48%;
        height: 22rem;
        padding: 1rem;
    }
    .need-card-icon{
        width: 5rem;
    }

    .need-card-head{
        margin: 0px;
        font-size: 2rem;
    }

    .need-card-text{
        font-size: 1rem;
    }


    
}
</style> 

<div class="need-card">

    
    <img class="need-card-icon" src={{icon}}/>
   
    <div>
        <h3 class="need-card-head" >{{title}}</h3>
        <p class="need-card-text">{{text}}</p>
    </div>
</div>