{% assign avt_text = name | slice: 0, 1 | upcase | append: name | split: ' ' | last | slice: 0, 1 | upcase %}
<style>
    .card-people{
        padding:2rem; 
        background-color: #2a2a2a; 
        width:auto;
        position: relative;
        z-index: -23;

    }

    .people-rev-text{
        color: #fff;
        font-family: Inter !important;
    }

    .people-name-add{
        color: #fff;
        
    }

    .people-name-add div{
        font-family: Inter !important;
    }

    .people-add{
        color: #C9C9C9;

    }

    @media screen and (max-width: 768px) {
        .card-people{
            padding: 2rem;
            width: auto;
            border-radius: 2rem;
        }
    }
</style>

<div class="card-people">
    <div style="display: flex; ">
        {% for i in (1..star-count) %}
            <img height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/Sub_Container.png?v=1726812633"/>
        {% endfor %}
        
    </div>

    <div style="display: flex; align-items: center; gap: 2rem;">
        <div style="font-family: Arial, Helvetica, sans-serif;  width: 6rem;  height: 6rem;  border-radius: 50%;   background: #fff;   font-size: 3.5rem;   color: #2a2a2a;  text-align: center;   line-height: 6rem;  margin: 2rem 0;">
            {{avt_text}}
        </div>
        <div class="people-name-add">
            <div>{{name}}</div>
            <div class="people-add">{{addres}}</div>
        </div>
    </div>

    <p class="people-rev-text">{{review-text}}</p>

</div>