<style>
    .demo-video{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
</style>

<div class="demo-video">
    <h1>What is VPN?</h1>
    <div style="background-color: #652fff; padding: 3rem 6rem 0rem 6rem; border-radius: 2rem;">
       
            <img width="" height="" style="background-color: #ece5ff; padding: 2rem 2rem 0px 2rem; border-radius: 2rem; margin-bottom: 0px" src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/Vector_1.png?v=1726730713"/>
        
    </div>
</div>