<style>
  .demo-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .demo-video img {
    width: 100%;
    height: 584px;
  }
</style>

<div class="demo-video">
  <h1>What is VPN?</h1>
  <div>

    <img src="https://cdn.shopify.com/s/files/1/0006/5418/0388/files/demo-vid-img_svg.png?v=1729069611" />

  </div>
</div>