<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    .pdp-feature-container{
        padding: 4rem 6rem;
        background-color: #f7f4ff;
        overflow: hidden;
    }
    .pdp-slide-card{
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: flex;
        gap: 8rem;
        justify-content: flex-start;
        align-items: center;
        color: white;
        text-align: left;
        background-image: url(https://cdn.shopify.com/s/files/1/0006/5418/0388/files/image_2.png?v=1727354647);
        object-position: top;
        background-position: center;
       
        border-radius: 2rem
    }

    .pdp-slide-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }

    .pdp-feature-wrapper{
        width: 100%;
    }

    .pdp-slide{
        width: 100%;
          
    }
    .swiper-container{
        width: 90vw;
        overflow: hidden;
        position: relative;
    }
    .pdp-feature-pagination{
        position: relative !important;
        margin-top: 2.2rem;
        margin-bottom: 0.2rem;
        top: 99% !important;
        left: 0% !important;
    }

    .feature-head12333{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        padding-left: 3rem;
        margin: 3rem;
    }

    .feature-header-text{
        color: white; 
        font-size:4.5rem; 
        font-weight:400;
        line-height: 7rem;
        padding-right: 4rem;
        font-style: italic;
        
    }
    .mobile-mock{
        width: 40% ;
        position: relative;
        bottom: -20.35%;
        margin-top: 6rem;
    }

    .swiper-pagination-bullet.pdp-feature-bullet{
      width: 2.5rem !important;
      height: 0.5rem !important;
      text-align: center;
      line-height: 20px !important;
      font-size: 12px;
      color: #000;
      opacity: 1;
      background: rgba(0, 0, 0, 0.2) !important;
      border-radius: 2rem !important;
    }

    .swiper-pagination-bullet-active.pdp-feature-bullet {
      color: #fff !important;
      background: #652fff !important;
      width: 5rem !important;
    }

    .get-button.pdp-feature-get-btn{
        width: 22%;
        /* padding: 0.5rem 1rem; */
        position: relative;
        cursor: pointer;
        text-decoration: none !important;
    }
    @media screen and (max-width: 768px) {
        .pdp-feature-container{
            padding: 4rem 1.5rem;
        }
        .pdp-slide-card{
            background-image: url(https://cdn.shopify.com/s/files/1/0006/5418/0388/files/image_6.png?v=1727698137);
        }
        .pdp-slide-card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0rem 2rem;
            width: auto;
        }

        .feature-header-text{
            color: white; 
            font-size:3rem; 
            font-weight:300;
            line-height: 4rem;
            padding-right: 6rem;
        }
        .mobile-mock{
            width: 130%;
            bottom: -21.35%;
            right: 4%;

        }

        .get-button.pdp-feature-get-btn{
            width: 38%;
            padding: 1rem 1.5rem;
            gap: 0.5rem;
        }

        .feature-head12333{
            padding-left: 0rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 0rem;
            
        }

        .pdp-feature-wrapper{
            width: 100%;
        }
    }

</style>
<div class="pdp-feature-container">

    <div class="swiper-container pdp-feature-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper pdp-feature-wrapper">
            <!-- Slides -->
            {% for block in section.blocks %}
                <div class="swiper-slide pdp-slide">
                    <div class="slider-card pdp-slide-card" >
                        <div class="feature-head12333" id="feature-head12333">
                            <h2 class="feature-header-text" >{{block.settings.feat_title}}</h2>
                            <a href={{block.settings.pdp_link}} class="get-button pdp-feature-get-btn" >
                                <div>Get Started</div>
                                <svg width="1.5rem" height="1.2rem" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.8882 0.732424L18.6382 7.48242C18.7431 7.58694 18.8263 7.71113 18.8831 7.84788C18.9399 7.98462 18.9691 8.13123 18.9691 8.2793C18.9691 8.42736 18.9399 8.57397 18.8831 8.71072C18.8263 8.84747 18.7431 8.97166 18.6382 9.07617L11.8882 15.8262C11.6769 16.0375 11.3902 16.1563 11.0913 16.1562C10.7925 16.1562 10.5058 16.0375 10.2945 15.8262C10.0831 15.6148 9.9644 15.3282 9.9644 15.0293C9.9644 14.7304 10.0831 14.4438 10.2945 14.2324L15.1235 9.40336H1.34229C1.04392 9.40336 0.757769 9.28483 0.54679 9.07386C0.335812 8.86288 0.217285 8.57673 0.217285 8.27836C0.217285 7.97999 0.335812 7.69384 0.54679 7.48287C0.757769 7.27189 1.04392 7.15336 1.34229 7.15336L15.1235 7.15336L10.2935 2.3243C10.0822 2.11296 9.96346 1.82631 9.96346 1.52742C9.96346 1.22854 10.0822 0.941895 10.2935 0.73055C10.5049 0.519205 10.7915 0.400471 11.0904 0.400471C11.3893 0.400471 11.6759 0.519205 11.8873 0.73055L11.8882 0.732424Z" fill="white"/>
                                </svg>
        
                            </a>
                        </div>
                        <img class="mobile-mock" src={{block.settings.feat_image |  image_url }}/>
                    
                    </div>
                </div>
            {% endfor %} 
           
                {% comment %} <div class="swiper-slide pdp-slide">
                    <div class="slider-card pdp-slide-card">
                        <div class="feature-head12333" id="feature-head12333">
                            <h2 class="feature-header-text" >Browse privately & securely. Hide your IP & location, and encrypt your data.</h2>
                            <div class="get-button pdp-feature-get-btn" >
                                <div>Get Started</div>
                                <svg width="1.5rem" height="1.2rem" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.8882 0.732424L18.6382 7.48242C18.7431 7.58694 18.8263 7.71113 18.8831 7.84788C18.9399 7.98462 18.9691 8.13123 18.9691 8.2793C18.9691 8.42736 18.9399 8.57397 18.8831 8.71072C18.8263 8.84747 18.7431 8.97166 18.6382 9.07617L11.8882 15.8262C11.6769 16.0375 11.3902 16.1563 11.0913 16.1562C10.7925 16.1562 10.5058 16.0375 10.2945 15.8262C10.0831 15.6148 9.9644 15.3282 9.9644 15.0293C9.9644 14.7304 10.0831 14.4438 10.2945 14.2324L15.1235 9.40336H1.34229C1.04392 9.40336 0.757769 9.28483 0.54679 9.07386C0.335812 8.86288 0.217285 8.57673 0.217285 8.27836C0.217285 7.97999 0.335812 7.69384 0.54679 7.48287C0.757769 7.27189 1.04392 7.15336 1.34229 7.15336L15.1235 7.15336L10.2935 2.3243C10.0822 2.11296 9.96346 1.82631 9.96346 1.52742C9.96346 1.22854 10.0822 0.941895 10.2935 0.73055C10.5049 0.519205 10.7915 0.400471 11.0904 0.400471C11.3893 0.400471 11.6759 0.519205 11.8873 0.73055L11.8882 0.732424Z" fill="white"/>
                                </svg>

                            </div>
                        </div>
                        <img class="mobile-mock" src="https://cdn.shopify.com/s/files/1/0006/5418/0388/files/Mockup_updated.png?v=1729075809"/>
                        
                    </div>
                </div>

                <div class="swiper-slide pdp-slide">
                    <div class="slider-card pdp-slide-card">
                        <div class="feature-head12333">
                            <div class="feature-header-text" >Browse privately & securely. Hide your IP & location, and encrypt your data.</div>
                            <div class="get-button pdp-feature-get-btn" >
                                <div>Get Started</div>
                                <svg width="1.5rem" height="1.2rem" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.8882 0.732424L18.6382 7.48242C18.7431 7.58694 18.8263 7.71113 18.8831 7.84788C18.9399 7.98462 18.9691 8.13123 18.9691 8.2793C18.9691 8.42736 18.9399 8.57397 18.8831 8.71072C18.8263 8.84747 18.7431 8.97166 18.6382 9.07617L11.8882 15.8262C11.6769 16.0375 11.3902 16.1563 11.0913 16.1562C10.7925 16.1562 10.5058 16.0375 10.2945 15.8262C10.0831 15.6148 9.9644 15.3282 9.9644 15.0293C9.9644 14.7304 10.0831 14.4438 10.2945 14.2324L15.1235 9.40336H1.34229C1.04392 9.40336 0.757769 9.28483 0.54679 9.07386C0.335812 8.86288 0.217285 8.57673 0.217285 8.27836C0.217285 7.97999 0.335812 7.69384 0.54679 7.48287C0.757769 7.27189 1.04392 7.15336 1.34229 7.15336L15.1235 7.15336L10.2935 2.3243C10.0822 2.11296 9.96346 1.82631 9.96346 1.52742C9.96346 1.22854 10.0822 0.941895 10.2935 0.73055C10.5049 0.519205 10.7915 0.400471 11.0904 0.400471C11.3893 0.400471 11.6759 0.519205 11.8873 0.73055L11.8882 0.732424Z" fill="white"/>
                                </svg>

                            </div>
                        </div>
                        <img class="mobile-mock" src="https://cdn.shopify.com/s/files/1/0006/5418/0388/files/Mockup.png?v=1727688141"/>
                        
                    </div>
                </div>  {% endcomment %}
                
                
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination pdp-feature-pagination"></div>

        <!-- If we need navigation buttons -->
        {% comment %} <div class="swiper-button-prev"><svg width="51" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
        <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3928 25.5261C34.3928 26.0546 33.9644 26.483 33.4359 26.483L19.8636 26.483L25.1682 31.5346C25.5491 31.9008 25.561 32.5066 25.1947 32.8875C24.8285 33.2685 24.2227 33.2804 23.8418 32.9141L16.8246 26.2159C16.637 26.0355 16.531 25.7864 16.531 25.5261C16.531 25.2659 16.637 25.0168 16.8246 24.8364L23.8418 18.1382C24.2227 17.7719 24.8285 17.7838 25.1947 18.1648C25.561 18.5457 25.5492 19.1514 25.1682 19.5177L19.8636 24.5693L33.4359 24.5693C33.9644 24.5693 34.3928 24.9977 34.3928 25.5261Z" fill="white"/>
        </svg>
        </div>
        <div class="swiper-button-next"><svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
        <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3694 25.5266C16.3694 24.9981 16.7979 24.5697 17.3263 24.5697L30.8986 24.5697L25.594 19.5182C25.2131 19.1519 25.2012 18.5461 25.5675 18.1652C25.9338 17.7843 26.5395 17.7724 26.9204 18.1387L33.9376 24.8368C34.1252 25.0172 34.2312 25.2663 34.2312 25.5266C34.2312 25.7869 34.1252 26.0359 33.9376 26.2163L26.9204 32.9145C26.5395 33.2808 25.9338 33.2689 25.5675 32.888C25.2012 32.507 25.2131 31.9013 25.594 31.535L30.8986 26.4835L17.3263 26.4835C16.7979 26.4835 16.3694 26.0551 16.3694 25.5266Z" fill="white"/>
        </svg>
        </div> {% endcomment %}

    </div>
                
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.swiper-container.pdp-feature-swiper', {
            direction: 'horizontal',
            loop: false,
            slidesPerView: 'auto',
            pagination: {
                el: '.swiper-pagination.pdp-feature-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                    return `<span class=" ${className} pdp-feature-bullet "> </span>`;
                },
                
            },
            spaceBetween: 0,
            // autoplay: {
            //     delay: 3000,
            //     disableOnInteraction: false,
            // },
            lazy: true,
           
        });
    });

</script>

{% schema %}
{
    "name": "pdd-feaures",
    "settings": [
        
        ],
    "blocks": [
        {
            "type": "pdp-feat-slide",
            "name": "PDP Feature Slide",
            "settings": [
            {
                "type": "image_picker",
                "id": "feat_banner",
                "label": "Feature Banner Image"
            },
            {
                "type": "text",
                "id": "feat_title",
                "label": "Title",
            },
            {
                "type": "url", 
                "id": "pdp_link",
                "label": "Link",
            },
            {
                "type": "image_picker",
                "id": "feat_image",
                "label": "Feat Image"
            }
            ]
        }
    ]
}
{% endschema %}
