
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<script>
     document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll('.store-toggle button');
        

        // Show all images by default
        document.querySelector('.google-reviews').style.display = 'flex';
        document.querySelector('.apple-reviews').style.display = 'none';
       
      
        tabs.forEach(tab => {
            tab.addEventListener('click', function () {
                // Remove active class from all tabs
                tabs.forEach(button => button.classList.remove('active'));

                // Add active class to clicked tab
                this.classList.add('active');
               
                // Get the filter category from clicked tab
                const filter = this.getAttribute('data-filter');

                // Show/Hide gallery divs based on filter
                if (filter === 'google') {
                    document.querySelector('.google-reviews').style.display = 'flex';
                    document.querySelector('.apple-reviews').style.display = 'none';
                    
                } else {
                    document.querySelector('.apple-reviews').style.display = 'flex';
                    document.querySelector('.google-reviews').style.display = 'none';
                }
            });
        });
    });

    

</script>


<style>
    .container{
        background-color: #f7f4ff;
        padding: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .store-toggle{
        background-color: #d9ccff;
        padding: 2rem;
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .store-btn{
        padding: 1rem 3rem;
        margin-right: 1rem;
        cursor: pointer;
        background-color: #d9ccff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        border-radius: 2rem;
        
    }

    .store-btn.active{
        
        background-color: #652fff;
        color: white;
    }
    .google-reviews{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
    }
    .apple-reviews{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
    }
    .people-say-slide{
        width: 36rem;
    }
    .people-say{
        width: 75vw;
        overflow: hidden;
        border-radius: 2rem;
        position: relative;
    }
    .swiper-wrapper{
        border-radius: 2rem;
    }

    .people-say-head{
        font-size: 3rem;
        text-align: center;
    }

    hr{
        margin: 2rem 0;
        border-color: #652fff;
        background-color:#652fff;
        height: 2px;
    }

    .people-say-pagination{
        position: relative;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        top: 95%;
        left: -48%;
    }
    .swiper-button-prev{
        top: var(--swiper-navigation-top-offset,96%);
        left: 89%;
    }

    .swiper-button-next{
        top:var(--swiper-navigation-top-offset,96%); 
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        content: "";
    }

    @media screen and (max-width: 768px) {
        .container{
            padding: 1rem;
        }

        .google-reviews{
            width: 100%;
        }

        .people-say{
            width: 90vw;
        }

        .swiper-button-prev{
            left: 80%;
        }


        .people-say-pagination{
            left: -40%;
        }
    }
   
</style>

<div>
    <div class="container">
        <div class="people-say-head">What 3.5M people in India have to say</div>
        <div class="store-toggle">
            <button data-filter="google" class="store-btn active">Google Play</button>
            <button data-filter="apple" class="store-btn">App Store</button>
        </div>
        
            <div class="google-reviews">

                <div class="swiper-container people-say">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman1" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman2" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman3" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                    </div>

                    <!-- If we need pagination -->
                    <hr/>
                    <div class="swiper-pagination people-say-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><svg width="51" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3928 25.5261C34.3928 26.0546 33.9644 26.483 33.4359 26.483L19.8636 26.483L25.1682 31.5346C25.5491 31.9008 25.561 32.5066 25.1947 32.8875C24.8285 33.2685 24.2227 33.2804 23.8418 32.9141L16.8246 26.2159C16.637 26.0355 16.531 25.7864 16.531 25.5261C16.531 25.2659 16.637 25.0168 16.8246 24.8364L23.8418 18.1382C24.2227 17.7719 24.8285 17.7838 25.1947 18.1648C25.561 18.5457 25.5492 19.1514 25.1682 19.5177L19.8636 24.5693L33.4359 24.5693C33.9644 24.5693 34.3928 24.9977 34.3928 25.5261Z" fill="white"/>
                    </svg>
                    </div>
                    <div class="swiper-button-next"><svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3694 25.5266C16.3694 24.9981 16.7979 24.5697 17.3263 24.5697L30.8986 24.5697L25.594 19.5182C25.2131 19.1519 25.2012 18.5461 25.5675 18.1652C25.9338 17.7843 26.5395 17.7724 26.9204 18.1387L33.9376 24.8368C34.1252 25.0172 34.2312 25.2663 34.2312 25.5266C34.2312 25.7869 34.1252 26.0359 33.9376 26.2163L26.9204 32.9145C26.5395 33.2808 25.9338 33.2689 25.5675 32.888C25.2012 32.507 25.2131 31.9013 25.594 31.535L30.8986 26.4835L17.3263 26.4835C16.7979 26.4835 16.3694 26.0551 16.3694 25.5266Z" fill="white"/>
                    </svg>
                    </div>

                </div>
                
            </div>
       
            <div class="apple-reviews">
                <div class="swiper-container people-say">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant1" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant2" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant3" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant5" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant6" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant7" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant8" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant9" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant10" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                    </div>

                    <!-- If we need pagination -->
                    <hr/>
                    <div class="swiper-pagination people-say-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><svg width="51" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3928 25.5261C34.3928 26.0546 33.9644 26.483 33.4359 26.483L19.8636 26.483L25.1682 31.5346C25.5491 31.9008 25.561 32.5066 25.1947 32.8875C24.8285 33.2685 24.2227 33.2804 23.8418 32.9141L16.8246 26.2159C16.637 26.0355 16.531 25.7864 16.531 25.5261C16.531 25.2659 16.637 25.0168 16.8246 24.8364L23.8418 18.1382C24.2227 17.7719 24.8285 17.7838 25.1947 18.1648C25.561 18.5457 25.5492 19.1514 25.1682 19.5177L19.8636 24.5693L33.4359 24.5693C33.9644 24.5693 34.3928 24.9977 34.3928 25.5261Z" fill="white"/>
                    </svg>
                    </div>
                    <div class="swiper-button-next"><svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3694 25.5266C16.3694 24.9981 16.7979 24.5697 17.3263 24.5697L30.8986 24.5697L25.594 19.5182C25.2131 19.1519 25.2012 18.5461 25.5675 18.1652C25.9338 17.7843 26.5395 17.7724 26.9204 18.1387L33.9376 24.8368C34.1252 25.0172 34.2312 25.2663 34.2312 25.5266C34.2312 25.7869 34.1252 26.0359 33.9376 26.2163L26.9204 32.9145C26.5395 33.2808 25.9338 33.2689 25.5675 32.888C25.2012 32.507 25.2131 31.9013 25.594 31.535L30.8986 26.4835L17.3263 26.4835C16.7979 26.4835 16.3694 26.0551 16.3694 25.5266Z" fill="white"/>
                    </svg>
                    </div>

                </div>
            </div>
        </div>
        <div>
    </div>
</div>



<script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.people-say', {
            direction: 'horizontal',
            loop: false,
            slidesPerView: 'auto',
            pagination: {
                el: '.people-say-pagination',
                type: "fraction",
                renderFraction: function (currentClass, totalClass) {
                    return '<span class="' + currentClass + '"></span>' +
                            ' of ' +
                            '<span class="' + totalClass + '"></span>';
                }
            },
            spaceBetween: 0,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            lazy: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>