<style>
    /* @import 'nib'; */

.proudly-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-top: 5rem;
}

.Marquee_announcement_bar {
    /* margin: 30px 0 0 0; */
    background: #ffffff;
    width: 100vw;
    box-sizing: border-box;
    padding: 0.4em 1em;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: calc(var(--typeBaseSize)* .85);
}

.Marquee_content_announcement_bar {
  display: flex;
  animation: Marquee_announcement_bar 20s linear infinite;
}

.proudly-featured-castor{
  position: absolute;
  bottom: 50%;
  z-index: -1;
}

.proudly-feature p{
    font-weight: 600;
    color: #828282;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    
  }
@media (min-width: 0px) and (max-width: 768px) {
  .proudly-featured-castor{
    bottom: 70%;
    left: -38%;
    height: 32%;
    
  }

  .proudly-feature h1{
    position: relative;
    z-index: 34;
    font-weight: 600;
  }
  .proudly-feature p{
    font-weight: 700;
    color: #828282;
    font-size: 1.5rem;
    
  }
  .Marquee_content_announcement_bar {
    display: flex;
    animation: Marquee_announcement_bar 30s linear infinite;
  }

  
}




.Marquee_content_announcement_bar:hover {
  animation-play-state: paused;
}

.Marquee_tag_announcement_bar {
    display: inline-block;
    white-space: nowrap;
    padding: 1.5rem 1.2em;
    margin: 1.5rem 1.5em;
    text-decoration: none;
    color: white;
    transition: all .2s ease;
}

.Marquee_tag_announcement_bar:hover {
  background: rgba(255, 255, 255, 0.05);
  transform: scale(1.04);
  color: white;
  cursor: pointer;
}

@keyframes Marquee_announcement_bar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

</style>

<div class="proudly-feature">
  <img class="proudly-featured-castor" src="https://cdn.shopify.com/s/files/1/0006/5418/0388/files/ASTOR_2.png?v=1728451454"/>
  <h1>Proudly Featured in</h1>
  <p>TOP BUSINESS ARTICLES</p>
  <div class="Marquee_content_announcement_bar">
  
    <div class="Marquee_announcement_bar">
      <div class="Marquee_content_announcement_bar">
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_5.png?v=1727153853"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_7.png?v=1727153852"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_8.png?v=1727153853"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_4.png?v=1727153852"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>

          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_5.png?v=1727153853"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_7.png?v=1727153852"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_8.png?v=1727153853"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_4.png?v=1727153852"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          <div class="Marquee_tag_announcement_bar"><img src="https://cdn.shopify.com/s/files/1/0719/6511/4625/files/image_3.png?v=1727069382"/></div>
          
          
      </div>
    </div>
  </div>
</div>