<style>
    .social-media-container{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }

    .social-media-icons{
        display: flex;
        align-items: center;
        justify-content: center;
    }


</style>
<div class="social-media-container">
    <div class="socail-media-iconss">
        <div class="social-media-item">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_521_3674)">
                <path d="M12 2.25859C15.2063 2.25859 15.5859 2.27266 16.8469 2.32891C18.0188 2.38047 18.6516 2.57734 19.0734 2.74141C19.6313 2.95703 20.0344 3.21953 20.4516 3.63672C20.8734 4.05859 21.1313 4.45703 21.3469 5.01484C21.5109 5.43672 21.7078 6.07422 21.7594 7.24141C21.8156 8.50703 21.8297 8.88672 21.8297 12.0883C21.8297 15.2945 21.8156 15.6742 21.7594 16.9352C21.7078 18.107 21.5109 18.7398 21.3469 19.1617C21.1313 19.7195 20.8687 20.1227 20.4516 20.5398C20.0297 20.9617 19.6313 21.2195 19.0734 21.4352C18.6516 21.5992 18.0141 21.7961 16.8469 21.8477C15.5813 21.9039 15.2016 21.918 12 21.918C8.79375 21.918 8.41406 21.9039 7.15313 21.8477C5.98125 21.7961 5.34844 21.5992 4.92656 21.4352C4.36875 21.2195 3.96563 20.957 3.54844 20.5398C3.12656 20.118 2.86875 19.7195 2.65313 19.1617C2.48906 18.7398 2.29219 18.1023 2.24063 16.9352C2.18438 15.6695 2.17031 15.2898 2.17031 12.0883C2.17031 8.88203 2.18438 8.50234 2.24063 7.24141C2.29219 6.06953 2.48906 5.43672 2.65313 5.01484C2.86875 4.45703 3.13125 4.05391 3.54844 3.63672C3.97031 3.21484 4.36875 2.95703 4.92656 2.74141C5.34844 2.57734 5.98594 2.38047 7.15313 2.32891C8.41406 2.27266 8.79375 2.25859 12 2.25859ZM12 0.0976562C8.74219 0.0976562 8.33438 0.111719 7.05469 0.167969C5.77969 0.224219 4.90313 0.430469 4.14375 0.725781C3.35156 1.03516 2.68125 1.44297 2.01563 2.11328C1.34531 2.77891 0.9375 3.44922 0.628125 4.23672C0.332812 5.00078 0.126563 5.87266 0.0703125 7.14766C0.0140625 8.43203 0 8.83984 0 12.0977C0 15.3555 0.0140625 15.7633 0.0703125 17.043C0.126563 18.318 0.332812 19.1945 0.628125 19.9539C0.9375 20.7461 1.34531 21.4164 2.01563 22.082C2.68125 22.7477 3.35156 23.1602 4.13906 23.4648C4.90313 23.7602 5.775 23.9664 7.05 24.0227C8.32969 24.0789 8.7375 24.093 11.9953 24.093C15.2531 24.093 15.6609 24.0789 16.9406 24.0227C18.2156 23.9664 19.0922 23.7602 19.8516 23.4648C20.6391 23.1602 21.3094 22.7477 21.975 22.082C22.6406 21.4164 23.0531 20.7461 23.3578 19.9586C23.6531 19.1945 23.8594 18.3227 23.9156 17.0477C23.9719 15.768 23.9859 15.3602 23.9859 12.1023C23.9859 8.84453 23.9719 8.43672 23.9156 7.15703C23.8594 5.88203 23.6531 5.00547 23.3578 4.24609C23.0625 3.44922 22.6547 2.77891 21.9844 2.11328C21.3188 1.44766 20.6484 1.03516 19.8609 0.730469C19.0969 0.435156 18.225 0.228906 16.95 0.172656C15.6656 0.111719 15.2578 0.0976562 12 0.0976562Z" fill="#828282"/>
                <path d="M12 5.93359C8.59688 5.93359 5.83594 8.69453 5.83594 12.0977C5.83594 15.5008 8.59688 18.2617 12 18.2617C15.4031 18.2617 18.1641 15.5008 18.1641 12.0977C18.1641 8.69453 15.4031 5.93359 12 5.93359ZM12 16.0961C9.79219 16.0961 8.00156 14.3055 8.00156 12.0977C8.00156 9.88984 9.79219 8.09922 12 8.09922C14.2078 8.09922 15.9984 9.88984 15.9984 12.0977C15.9984 14.3055 14.2078 16.0961 12 16.0961Z" fill="#828282"/>
                <path d="M19.8469 5.69004C19.8469 6.48692 19.2 7.12911 18.4078 7.12911C17.6109 7.12911 16.9688 6.48223 16.9688 5.69004C16.9688 4.89316 17.6156 4.25098 18.4078 4.25098C19.2 4.25098 19.8469 4.89785 19.8469 5.69004Z" fill="#828282"/>
                </g>
                <defs>
                <clipPath id="clip0_521_3674">
                <rect width="24" height="24" fill="white" transform="translate(0 0.0976562)"/>
                </clipPath>
                </defs>
            </svg>
            <div>Instagram</div>
        </div>
        <div class="social-media-item">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_521_3674)">
                <path d="M12 2.25859C15.2063 2.25859 15.5859 2.27266 16.8469 2.32891C18.0188 2.38047 18.6516 2.57734 19.0734 2.74141C19.6313 2.95703 20.0344 3.21953 20.4516 3.63672C20.8734 4.05859 21.1313 4.45703 21.3469 5.01484C21.5109 5.43672 21.7078 6.07422 21.7594 7.24141C21.8156 8.50703 21.8297 8.88672 21.8297 12.0883C21.8297 15.2945 21.8156 15.6742 21.7594 16.9352C21.7078 18.107 21.5109 18.7398 21.3469 19.1617C21.1313 19.7195 20.8687 20.1227 20.4516 20.5398C20.0297 20.9617 19.6313 21.2195 19.0734 21.4352C18.6516 21.5992 18.0141 21.7961 16.8469 21.8477C15.5813 21.9039 15.2016 21.918 12 21.918C8.79375 21.918 8.41406 21.9039 7.15313 21.8477C5.98125 21.7961 5.34844 21.5992 4.92656 21.4352C4.36875 21.2195 3.96563 20.957 3.54844 20.5398C3.12656 20.118 2.86875 19.7195 2.65313 19.1617C2.48906 18.7398 2.29219 18.1023 2.24063 16.9352C2.18438 15.6695 2.17031 15.2898 2.17031 12.0883C2.17031 8.88203 2.18438 8.50234 2.24063 7.24141C2.29219 6.06953 2.48906 5.43672 2.65313 5.01484C2.86875 4.45703 3.13125 4.05391 3.54844 3.63672C3.97031 3.21484 4.36875 2.95703 4.92656 2.74141C5.34844 2.57734 5.98594 2.38047 7.15313 2.32891C8.41406 2.27266 8.79375 2.25859 12 2.25859ZM12 0.0976562C8.74219 0.0976562 8.33438 0.111719 7.05469 0.167969C5.77969 0.224219 4.90313 0.430469 4.14375 0.725781C3.35156 1.03516 2.68125 1.44297 2.01563 2.11328C1.34531 2.77891 0.9375 3.44922 0.628125 4.23672C0.332812 5.00078 0.126563 5.87266 0.0703125 7.14766C0.0140625 8.43203 0 8.83984 0 12.0977C0 15.3555 0.0140625 15.7633 0.0703125 17.043C0.126563 18.318 0.332812 19.1945 0.628125 19.9539C0.9375 20.7461 1.34531 21.4164 2.01563 22.082C2.68125 22.7477 3.35156 23.1602 4.13906 23.4648C4.90313 23.7602 5.775 23.9664 7.05 24.0227C8.32969 24.0789 8.7375 24.093 11.9953 24.093C15.2531 24.093 15.6609 24.0789 16.9406 24.0227C18.2156 23.9664 19.0922 23.7602 19.8516 23.4648C20.6391 23.1602 21.3094 22.7477 21.975 22.082C22.6406 21.4164 23.0531 20.7461 23.3578 19.9586C23.6531 19.1945 23.8594 18.3227 23.9156 17.0477C23.9719 15.768 23.9859 15.3602 23.9859 12.1023C23.9859 8.84453 23.9719 8.43672 23.9156 7.15703C23.8594 5.88203 23.6531 5.00547 23.3578 4.24609C23.0625 3.44922 22.6547 2.77891 21.9844 2.11328C21.3188 1.44766 20.6484 1.03516 19.8609 0.730469C19.0969 0.435156 18.225 0.228906 16.95 0.172656C15.6656 0.111719 15.2578 0.0976562 12 0.0976562Z" fill="#828282"/>
                <path d="M12 5.93359C8.59688 5.93359 5.83594 8.69453 5.83594 12.0977C5.83594 15.5008 8.59688 18.2617 12 18.2617C15.4031 18.2617 18.1641 15.5008 18.1641 12.0977C18.1641 8.69453 15.4031 5.93359 12 5.93359ZM12 16.0961C9.79219 16.0961 8.00156 14.3055 8.00156 12.0977C8.00156 9.88984 9.79219 8.09922 12 8.09922C14.2078 8.09922 15.9984 9.88984 15.9984 12.0977C15.9984 14.3055 14.2078 16.0961 12 16.0961Z" fill="#828282"/>
                <path d="M19.8469 5.69004C19.8469 6.48692 19.2 7.12911 18.4078 7.12911C17.6109 7.12911 16.9688 6.48223 16.9688 5.69004C16.9688 4.89316 17.6156 4.25098 18.4078 4.25098C19.2 4.25098 19.8469 4.89785 19.8469 5.69004Z" fill="#828282"/>
                </g>
                <defs>
                <clipPath id="clip0_521_3674">
                <rect width="24" height="24" fill="white" transform="translate(0 0.0976562)"/>
                </clipPath>
                </defs>
            </svg>
            <div>Instagram</div>
        </div>
        <div class="social-media-item">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_521_3674)">
                <path d="M12 2.25859C15.2063 2.25859 15.5859 2.27266 16.8469 2.32891C18.0188 2.38047 18.6516 2.57734 19.0734 2.74141C19.6313 2.95703 20.0344 3.21953 20.4516 3.63672C20.8734 4.05859 21.1313 4.45703 21.3469 5.01484C21.5109 5.43672 21.7078 6.07422 21.7594 7.24141C21.8156 8.50703 21.8297 8.88672 21.8297 12.0883C21.8297 15.2945 21.8156 15.6742 21.7594 16.9352C21.7078 18.107 21.5109 18.7398 21.3469 19.1617C21.1313 19.7195 20.8687 20.1227 20.4516 20.5398C20.0297 20.9617 19.6313 21.2195 19.0734 21.4352C18.6516 21.5992 18.0141 21.7961 16.8469 21.8477C15.5813 21.9039 15.2016 21.918 12 21.918C8.79375 21.918 8.41406 21.9039 7.15313 21.8477C5.98125 21.7961 5.34844 21.5992 4.92656 21.4352C4.36875 21.2195 3.96563 20.957 3.54844 20.5398C3.12656 20.118 2.86875 19.7195 2.65313 19.1617C2.48906 18.7398 2.29219 18.1023 2.24063 16.9352C2.18438 15.6695 2.17031 15.2898 2.17031 12.0883C2.17031 8.88203 2.18438 8.50234 2.24063 7.24141C2.29219 6.06953 2.48906 5.43672 2.65313 5.01484C2.86875 4.45703 3.13125 4.05391 3.54844 3.63672C3.97031 3.21484 4.36875 2.95703 4.92656 2.74141C5.34844 2.57734 5.98594 2.38047 7.15313 2.32891C8.41406 2.27266 8.79375 2.25859 12 2.25859ZM12 0.0976562C8.74219 0.0976562 8.33438 0.111719 7.05469 0.167969C5.77969 0.224219 4.90313 0.430469 4.14375 0.725781C3.35156 1.03516 2.68125 1.44297 2.01563 2.11328C1.34531 2.77891 0.9375 3.44922 0.628125 4.23672C0.332812 5.00078 0.126563 5.87266 0.0703125 7.14766C0.0140625 8.43203 0 8.83984 0 12.0977C0 15.3555 0.0140625 15.7633 0.0703125 17.043C0.126563 18.318 0.332812 19.1945 0.628125 19.9539C0.9375 20.7461 1.34531 21.4164 2.01563 22.082C2.68125 22.7477 3.35156 23.1602 4.13906 23.4648C4.90313 23.7602 5.775 23.9664 7.05 24.0227C8.32969 24.0789 8.7375 24.093 11.9953 24.093C15.2531 24.093 15.6609 24.0789 16.9406 24.0227C18.2156 23.9664 19.0922 23.7602 19.8516 23.4648C20.6391 23.1602 21.3094 22.7477 21.975 22.082C22.6406 21.4164 23.0531 20.7461 23.3578 19.9586C23.6531 19.1945 23.8594 18.3227 23.9156 17.0477C23.9719 15.768 23.9859 15.3602 23.9859 12.1023C23.9859 8.84453 23.9719 8.43672 23.9156 7.15703C23.8594 5.88203 23.6531 5.00547 23.3578 4.24609C23.0625 3.44922 22.6547 2.77891 21.9844 2.11328C21.3188 1.44766 20.6484 1.03516 19.8609 0.730469C19.0969 0.435156 18.225 0.228906 16.95 0.172656C15.6656 0.111719 15.2578 0.0976562 12 0.0976562Z" fill="#828282"/>
                <path d="M12 5.93359C8.59688 5.93359 5.83594 8.69453 5.83594 12.0977C5.83594 15.5008 8.59688 18.2617 12 18.2617C15.4031 18.2617 18.1641 15.5008 18.1641 12.0977C18.1641 8.69453 15.4031 5.93359 12 5.93359ZM12 16.0961C9.79219 16.0961 8.00156 14.3055 8.00156 12.0977C8.00156 9.88984 9.79219 8.09922 12 8.09922C14.2078 8.09922 15.9984 9.88984 15.9984 12.0977C15.9984 14.3055 14.2078 16.0961 12 16.0961Z" fill="#828282"/>
                <path d="M19.8469 5.69004C19.8469 6.48692 19.2 7.12911 18.4078 7.12911C17.6109 7.12911 16.9688 6.48223 16.9688 5.69004C16.9688 4.89316 17.6156 4.25098 18.4078 4.25098C19.2 4.25098 19.8469 4.89785 19.8469 5.69004Z" fill="#828282"/>
                </g>
                <defs>
                <clipPath id="clip0_521_3674">
                <rect width="24" height="24" fill="white" transform="translate(0 0.0976562)"/>
                </clipPath>
                </defs>
            </svg>
            <div>Instagram</div>
        </div>
        <div class="social-media-item">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_521_3674)">
                <path d="M12 2.25859C15.2063 2.25859 15.5859 2.27266 16.8469 2.32891C18.0188 2.38047 18.6516 2.57734 19.0734 2.74141C19.6313 2.95703 20.0344 3.21953 20.4516 3.63672C20.8734 4.05859 21.1313 4.45703 21.3469 5.01484C21.5109 5.43672 21.7078 6.07422 21.7594 7.24141C21.8156 8.50703 21.8297 8.88672 21.8297 12.0883C21.8297 15.2945 21.8156 15.6742 21.7594 16.9352C21.7078 18.107 21.5109 18.7398 21.3469 19.1617C21.1313 19.7195 20.8687 20.1227 20.4516 20.5398C20.0297 20.9617 19.6313 21.2195 19.0734 21.4352C18.6516 21.5992 18.0141 21.7961 16.8469 21.8477C15.5813 21.9039 15.2016 21.918 12 21.918C8.79375 21.918 8.41406 21.9039 7.15313 21.8477C5.98125 21.7961 5.34844 21.5992 4.92656 21.4352C4.36875 21.2195 3.96563 20.957 3.54844 20.5398C3.12656 20.118 2.86875 19.7195 2.65313 19.1617C2.48906 18.7398 2.29219 18.1023 2.24063 16.9352C2.18438 15.6695 2.17031 15.2898 2.17031 12.0883C2.17031 8.88203 2.18438 8.50234 2.24063 7.24141C2.29219 6.06953 2.48906 5.43672 2.65313 5.01484C2.86875 4.45703 3.13125 4.05391 3.54844 3.63672C3.97031 3.21484 4.36875 2.95703 4.92656 2.74141C5.34844 2.57734 5.98594 2.38047 7.15313 2.32891C8.41406 2.27266 8.79375 2.25859 12 2.25859ZM12 0.0976562C8.74219 0.0976562 8.33438 0.111719 7.05469 0.167969C5.77969 0.224219 4.90313 0.430469 4.14375 0.725781C3.35156 1.03516 2.68125 1.44297 2.01563 2.11328C1.34531 2.77891 0.9375 3.44922 0.628125 4.23672C0.332812 5.00078 0.126563 5.87266 0.0703125 7.14766C0.0140625 8.43203 0 8.83984 0 12.0977C0 15.3555 0.0140625 15.7633 0.0703125 17.043C0.126563 18.318 0.332812 19.1945 0.628125 19.9539C0.9375 20.7461 1.34531 21.4164 2.01563 22.082C2.68125 22.7477 3.35156 23.1602 4.13906 23.4648C4.90313 23.7602 5.775 23.9664 7.05 24.0227C8.32969 24.0789 8.7375 24.093 11.9953 24.093C15.2531 24.093 15.6609 24.0789 16.9406 24.0227C18.2156 23.9664 19.0922 23.7602 19.8516 23.4648C20.6391 23.1602 21.3094 22.7477 21.975 22.082C22.6406 21.4164 23.0531 20.7461 23.3578 19.9586C23.6531 19.1945 23.8594 18.3227 23.9156 17.0477C23.9719 15.768 23.9859 15.3602 23.9859 12.1023C23.9859 8.84453 23.9719 8.43672 23.9156 7.15703C23.8594 5.88203 23.6531 5.00547 23.3578 4.24609C23.0625 3.44922 22.6547 2.77891 21.9844 2.11328C21.3188 1.44766 20.6484 1.03516 19.8609 0.730469C19.0969 0.435156 18.225 0.228906 16.95 0.172656C15.6656 0.111719 15.2578 0.0976562 12 0.0976562Z" fill="#828282"/>
                <path d="M12 5.93359C8.59688 5.93359 5.83594 8.69453 5.83594 12.0977C5.83594 15.5008 8.59688 18.2617 12 18.2617C15.4031 18.2617 18.1641 15.5008 18.1641 12.0977C18.1641 8.69453 15.4031 5.93359 12 5.93359ZM12 16.0961C9.79219 16.0961 8.00156 14.3055 8.00156 12.0977C8.00156 9.88984 9.79219 8.09922 12 8.09922C14.2078 8.09922 15.9984 9.88984 15.9984 12.0977C15.9984 14.3055 14.2078 16.0961 12 16.0961Z" fill="#828282"/>
                <path d="M19.8469 5.69004C19.8469 6.48692 19.2 7.12911 18.4078 7.12911C17.6109 7.12911 16.9688 6.48223 16.9688 5.69004C16.9688 4.89316 17.6156 4.25098 18.4078 4.25098C19.2 4.25098 19.8469 4.89785 19.8469 5.69004Z" fill="#828282"/>
                </g>
                <defs>
                <clipPath id="clip0_521_3674">
                <rect width="24" height="24" fill="white" transform="translate(0 0.0976562)"/>
                </clipPath>
                </defs>
            </svg>
            <div>Instagram</div>
        </div>
    </div>
</div>

