<style>
   

    .support-gurantee{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 6rem 14rem;
    }
</style>
<div class="support-gurantee">
    <h1>Support & Guarantee</h1>
    <div style="display: flex; justify-content: space-between; gap:2rem;">
        {% render "support-gurantee-card" bgColor:"#fff5f1" icon:"https://cdn.shopify.com/s/files/1/0719/6511/4625/files/Group.png?v=1727158083" title:"Your cyber concierge, ask us anything" text:"You can reach out to us at any time on email, and Whatsapp" btn_name:"Whatsapp Support" btn_url:"www.google.com" %}
        {% render "support-gurantee-card" bgColor:"#fff2fe" icon:"https://cdn.shopify.com/s/files/1/0719/6511/4625/files/0b510672ab6fe2288e99aeb614bbddf1c8f7f68a-138x103.svg_fill.png?v=1727158083" title:"Providing you a private & safe Internet" text:"we stand by that. If you’re not satisfied, we will refund your payment. No strings attached." btn_name:"Get Safehouse VPN" btn_url:"www.google.com" %}

    </div>
</div>