<style>


  .support-gurantee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 14rem;
  }
  .support-gurantee h1 {
    font-family: Tomato Grotesk;
    font-size: 48px;
    font-weight: 500;
    line-height: 56.64px;
    letter-spacing: -0.9599999785423279px;
    text-align: left;
  }
</style>
<div class="support-gurantee">
  <h1>Support & Guarantee</h1>
  <div style="display: flex; justify-content: space-between; gap:2rem;">
    {% render "support-gurantee-card" bgColor: "#fff5f1" icon: "https://cdn.shopify.com/s/files/1/0006/5418/0388/files/support-gurantee1.png?v=1729084227" title: "Your cyber concierge, ask us anything" text: "You can reach out to us at any time on email, and Whatsapp" btn_name: "Whatsapp Support" btn_url: "www.google.com" %}
    {% render "support-gurantee-card" bgColor: "#fff2fe" icon: "https://cdn.shopify.com/s/files/1/0006/5418/0388/files/support-gurantee2.png?v=1729084227" title: "Providing you a private & safe Internet" text: "we stand by that. If you’re not satisfied, we will refund your payment. No strings attached." btn_name: "Get Safehouse VPN" btn_url: "www.google.com" %}

  </div>
</div>