<style>
  .trail-home-banner {
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    height: 332px;
    margin: 90px 0 0;
  }
  .trail-text-section {
    height: 152px;
  }
  .trail-text {
    font-family: Tomato Grotesk;
    font-weight: 500;
    font-size: 32px;
    line-height: 51px;
    text-align: left;
  }
  .textspan {
    color: #652fff;
    font-family: tomato-grotesk;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;

  }

  .trail-text2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #302c2c9d;
  }
  .trail-image-section img {
    height: 230px;
    width: 385px;
  }


</style>


<div class="trail-home-banner">
  <div class="trail-text-section">
    <p class="trail-text">
      A private and safer Internet experience for India,
      <br>
      <span class="textspan">with 3.5M people and growing</span>
    </p>
    <p class="trail-text2">Start you risk free trial now, 30 days money back guarantee
    </p>
  </div>
  <div class="trail-image-section">
    <img src="https://cdn.shopify.com/s/files/1/0006/5418/0388/files/trail-section-img.png?v=1729067408" alt="iamge">
  </div>
</div>